.principal{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.d1{
    width: 200px;
    height: 200px;
    background-color: rgb(61, 97, 215);
    margin: 20px
}

.d1 img {
    width: 200px;
    height: 200px;
}
@media screen and (min-width: 600px) and (max-width: 900px)
{
    .principal 
    {
        flex-direction: column ;
    }
    .d1{
        background-color: rgb(61, 146, 198);
    }
}